
@{
    ViewBag.Title = "Offers";
}
<link href="~/Content/info-pages.css" rel="stylesheet" />

<div class="page-wrapper">

    <div class="page-header">
        

        <div class="page-title">
            <h2>🔥 EMI Offers</h2>
            <p>Exclusive deals & cashback on EMI purchases</p>
        </div>
    </div>

    <div class="card-grid">

        <div class="info-card">
            <h3>No-Cost EMI</h3>
            <p>Zero interest EMI on selected products.</p>
        </div>

        <div class="info-card">
            <h3>Festival Cashback</h3>
            <p>Get up to ₹2,000 cashback on EMI orders.</p>
        </div>

        <div class="info-card">
            <h3>Early Payment Rewards</h3>
            <p>Pay before due date & earn reward points.</p>
        </div>
        <br />
        <a href="@Url.Action("Index","Product")" class="back-btn">
            ⬅ Back
        </a>
    </div>

</div>


