.auth-box {
    width: 380px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.1);
    text-align: center;
}

    .auth-box h2 {
        margin-bottom: 8px;
    }

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, #1e88e5, #42a5f5);
    color: #fff;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 13px;
}
