body {
    margin: 0;
    background: #000;
    font-family: 'Segoe UI', sans-serif;
}

/* MAIN WRAPPER */
.login-wrapper {
    width: 1100px;
    height: 520px;
    margin: 60px auto;
    display: flex;
    background: #fff;
    border-radius: 22px;
    overflow: hidden;
}

/* LEFT PANEL */
.left-panel {
    width: 40%;
    background: linear-gradient(180deg, #2c3fb8, #1e88e5);
    color: #fff;
    padding: 100px 50px;
}

    .left-panel h1 {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .left-panel p {
        font-size: 15px;
        line-height: 1.7;
    }

/* RIGHT PANEL */
.right-panel {
    width: 60%;
    padding: 50px 90px;
    box-sizing: border-box;
}

/* TOP BUTTONS */
.top-actions {
    text-align: right;
}

    .top-actions button,
    .top-actions a {
        padding: 8px 24px;
        border-radius: 20px;
        font-weight: 600;
        border: none;
        text-decoration: none;
        margin-left: 10px;
    }

        .top-actions button.active {
            background: #1e88e5;
            color: white;
        }

    .top-actions a {
        border: 2px solid #1e88e5;
        color: #1e88e5;
    }

/* TITLE */
.form-title {
    text-align: center;
    margin: 40px 0 30px;
    font-size: 26px;
}

/* FORM */
.form-box {
    width: 70%;
    margin: auto;
}

.input {
    width: 100%;
    padding: 13px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 14px;
    font-size: 14px;
}

    .input:focus {
        border-color: #1e88e5;
        outline: none;
    }

/* BUTTON */
.btn-area {
    text-align: center;
    margin-top: 25px;
}

    .btn-area button {
        padding: 12px 45px;
        border-radius: 25px;
        border: none;
        background: #1e88e5;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

/* VALIDATION */
.error {
    color: red;
    font-size: 13px;
}

.center {
    text-align: center;
}


/*newly added from here 
*/
.form-links {
    margin-top: 15px;
    text-align: center;
}

.form-links a {
    color: #1e88e5;
    text-decoration: none;
    font-weight: 500;
}

.form-links a:hover {
    text-decoration: underline;
}

.form-links p {
    margin-top: 8px;
    color: #555;
}

.forgot {
    display: block;
    margin-bottom: 6px;
}
.error {
    color: red;
    font-size: 14px;
}

.center {
    text-align: center;
    margin-top: 10px;
}
