 

<link href="~/Content/apply-card-success.css" rel="stylesheet" />

<div class="success-box">
    <div class="icon">✅</div>

    <h1>Application Submitted</h1>

    <p>
        Your EMI Card application has been submitted successfully.<br />
        Please wait for admin approval.
    </p>

    <a href="@Url.Action("Dashboard","User")" class="btn">
        Go to Dashboard
    </a>
</div>


