
@model FinanceManagementSystem_Prj.ViewModels.ForgotPasswordViewModel
<link href="~/Content/auth-common.css" rel="stylesheet" />

<div class="auth-box">
    <h2>Forgot Password</h2>
    <p class="subtitle">Enter your registered email</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.TextBoxFor(m => m.Email, new { @class = "input", placeholder = "Email address" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })

        <button class="btn-primary">Continue</button>
    }
</div>


